* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  cursor: default;
  background-color: #F0F0F0;
  color: #1C1C1A;
  height: 100vh;
  /* Use viewport height instead of 100% to occupy full screen height */
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

*::-webkit-scrollbar{
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #154151;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* optional drop shadow */
}

.logo-container img {
  height: 40px;
  width: auto;
  fill: white;
  cursor: pointer;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}

#main-card {
  height: 0px;
  background-color: #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#large-svg-container {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 10px;
}

#card-description {
  display: flex;
  align-items: start;
  background-color: white;
}

.card-list{
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#pianoRollContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  place-items: center;
}


h1 {
  margin-bottom: 20px;
  font-size: 42px;
}

.piano-roll-svg {
  border: 2px solid #381815;
}

.piano-roll-card {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.piano-roll-card:hover {
  background-color: #ccc;
}

@media screen and (max-width: 600px) {
  #pianoRollContainer {
    grid-template-columns: 1fr;
  }
}